.header {
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 10px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &__logo {
    @include adaptive-value('font-size', 20, 18, 1);
    font-weight: 600;
    letter-spacing: -0.02em;
    color: $white;
    text-decoration: none;
    transition: all 0.3s ease;

    .dot {
      display: inline-block;
      width: 4px;
      height: 4px;
      background: $orange;
      border-radius: 50%;
      margin: 0 0 0 1px;
    }
  }

  &__menu-btn {
    @include adaptive-value('font-size', 16, 14, 1);
    padding: 12px 16px;

    @include media('<phone') {
      padding: 11px 12px;
    }
  }
}
