.hero {
  position: relative;
  height: 100dvh;
  @include adaptive-value('padding-top', 135, 100, 1);
  @include adaptive-value('padding-bottom', 40, 30, 1);

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__inner {
    text-align: center;
  }

  &__title {
    @include adaptive-value('font-size', 64, 40, 1);
    max-width: 700px;
    width: 100%;
    line-height: 96%;
    color: $white;
    font-weight: 600;
    letter-spacing: -0.02em;
    margin: 0 auto;
    @include adaptive-value('margin-bottom', 16, 12, 1);
  }

  &__subtitle {
    @include adaptive-value('font-size', 24, 20, 1);
    max-width: 510px;
    width: 100%;
    line-height: 120%;
    color: $white;
    font-weight: 500;
    letter-spacing: -0.02em;
    margin: 0 auto 8px auto;
  }

  &__description {
    @include adaptive-value('font-size', 18, 16, 1);
    max-width: 845px;
    width: 100%;
    line-height: 150%;
    color: $white;
    font-weight: 400;
    letter-spacing: -0.01em;
    margin: 0 auto;
    @include adaptive-value('margin-bottom', 32, 24, 1);
  }
}
