.positioning {
  @include adaptive-value('padding-top', 100, 60, 1);
  @include adaptive-value('padding-bottom', 50, 32, 1);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

    @include media('<desktop') {
      flex-direction: column-reverse;
    }
  }

  &__item-images {
    position: relative;
    max-width: 630px;
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2;
    overflow: hidden;
    border-radius: 24px;

    @include media('<desktop') {
      max-width: 100%;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.after-img {
      z-index: 1;
    }

    &.before-img {
      z-index: 2;
    }
  }

  &__item-text {
    position: absolute;
    z-index: 5;
    background-color: rgba($color: #ffffff, $alpha: 0.2);
    backdrop-filter: blur(9px);
    color: $white;
    font-size: 12px;
    padding: 6px 8px;
    text-transform: uppercase;
    border-radius: 8px;

    &.before {
      top: 20px;
      left: 20px;

      @include media('<tablet') {
        top: 12px;
        left: 12px;
      }
    }

    &.after {
      top: 20px;
      right: 20px;

      @include media('<tablet') {
        top: 12px;
        right: 12px;
      }
    }
  }

  &__slide-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background-color: rgba($color: #ffffff, $alpha: 0.3);
    backdrop-filter: blur(16px);
    z-index: 5;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @include media('<tablet') {
      width: 40px;
      height: 40px;
    }

    .arrow {
      width: 6px;
      height: 13px;

      @include media('<phone') {
        width: 5px;
        height: 11px;
      }

      &_right {
        rotate: 180deg;
      }
    }
  }

  &__content {
    max-width: 585px;
    width: 100%;

    @include media('<desktop') {
      max-width: 100%;
    }
  }

  &__title {

    @include adaptive-value('margin-bottom', 16, 8, 1);
  }
}
