.services {
  @include adaptive-value('padding-top', 50, 32, 1);
  @include adaptive-value('padding-bottom', 50, 32, 1);

  &.interior {
    .services__title {
      @include media ("<phone") {
        max-width: 250px;
        width: 100%;
        margin: 0 auto 8px auto;
      }
    }
  }

  &__content {
    text-align: center;
    max-width: 845px;
    width: 100%;
    margin: 0 auto;
    @include adaptive-value('margin-bottom', 48, 32, 1);
  }

  &__label {
    justify-content: center;
  }

  &__title {
    @include adaptive-value('margin-bottom', 16, 8, 1);
  }

  &__description {
    @include adaptive-value('margin-bottom', 32, 24, 1);
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  &__card {
    width: 32%;
    height: auto;
    @include adaptive-value('border-radius', 24, 16, 1);
    background-color: $whiteF4;
    padding: 12px 12px 24px 12px;

    @include media('<desktop') {
      width: 48%;
    }

    @include media('<tablet') {
      padding: 8px 8px 20px 8px;
      width: 100%;
    }

    &-image-wrapper {
      width: 100%;
      height: 315px;
      overflow: hidden;
      @include adaptive-value('border-radius', 12, 8, 1);
      position: relative;
      @include adaptive-value('margin-bottom', 24, 20, 1);

      @include media('<tablet') {
        height: 250px;
      }
    }

    &-image-icon-wrapper {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: rgba($color: #ffffff, $alpha: 0.2);
      backdrop-filter: blur(24px);
      display: flex;
      align-items: center;
      justify-content: center;

      @include media('<tablet') {
        top: 16px;
        left: 16px;
        width: 40px;
        height: 40px;
      }
    }

    &-image-icon {
      width: 24px;
      height: 24px;

      @include media('<tablet') {
        width: 20px;
        height: 20px;
      }
    }

    &-image {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-title {
      text-align: center;
      @include adaptive-value('font-size', 24, 20, 1);
      font-weight: 500;
      line-height: 110%;
    }
  }
}
