.transform {
  @include adaptive-value('padding-top', 50, 32, 1);
  @include adaptive-value('padding-bottom', 50, 32, 1);

  &__line {
    position: absolute;
    pointer-events: none;

    &.line-1 {
      bottom: 0;
      left: 0;
      width: 25%;
    }

    &.line-2 {
      bottom: 0;
      right: 0;
      width: 20%;

      @include media('<tablet') {
        bottom: auto;
        top: -11px;
        transform: rotate(270deg);
      }
    }
  }

  &__inner {
    @include adaptive-value('padding-top', 80, 69, 1);
    @include adaptive-value('padding-bottom', 80, 69, 1);
    padding-left: 24px;
    padding-right: 24px;
    background-color: $orange;
    border-radius: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1065px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  &__title {
    color: $white;
    @include adaptive-value('margin-bottom', 16, 8, 1);
    text-align: center;
  }

  &__description {
    color: $white;
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    @include adaptive-value('margin-bottom', 32, 24, 1);
  }

  &__btn {
    &:hover {
      background-color: $orange;
      color: $white;
      border-color: $white;
      transition: all 0.3s ease;
    }
  }
}
