.why {
  @include adaptive-value('padding-top', 50, 32, 1);
  @include adaptive-value('padding-bottom', 50, 32, 1);
  position: relative;

  &__line {
    position: absolute;
    left: 0;
    bottom: 10%;
    width: 240px;
    height: 290px;
    z-index: -1;

    @include media ("<tablet") {
        display: none;
    }
  }

  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;

    @include media ("<desktop") {
        flex-direction: column;
    }
  }

  &__content {
    max-width: 585px;
    width: 100%;

    @include media ("<desktop") {
        max-width: 100%;
    }
  }

  &__label {
    color: $blue;

    &::before {
      background-color: $blue;
    }
  }

  &__title {
    @include adaptive-value('margin-bottom', 16, 8, 1);
  }

  &__cards {
    max-width: 630px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include media ("<desktop") {
        max-width: 100%;
    }

    @include media ("<tablet") {
        gap: 12px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 240px;
    gap: 16px;
    @include adaptive-value('padding', 24, 16, 1);
    @include adaptive-value('border-radius', 24, 16, 1);
    background-color: $whiteF4;
    position: relative;

    @include media ("<tablet") {
        height: 180px;
    }

    &:nth-child(2) {
      background-color: $blue;

      .why__card-text {
        color: $white;
      }
    }
    &:nth-child(3) {
      background-color: $orange;

      .why__card-text {
        color: $white;
      }
    }

    &-icon-wrapper {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: $white;
      display: flex;
      align-items: center;
      justify-content: center;

      @include media ("<tablet") {
        width: 40px;
        height: 40px;
      }
    }

    &-icon {
      width: 24px;
      height: 24px;
    }

    &-text {
      @include adaptive-value('font-size', 24, 18, 1);
      color: $black;
      font-weight: 500;
      line-height: 110%;
      letter-spacing: -0.02em;
    }

    &-img {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: block;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
