.work {
  @include adaptive-value('padding-top', 50, 32, 1);
  @include adaptive-value('padding-bottom', 50, 32, 1);

  &__inner {
    text-align: center;
    max-width: 845px;
    width: 100%;
    margin: 0 auto;
    @include adaptive-value('margin-bottom', 48, 32, 1);
  }

  &__label {
    justify-content: center;
    color: $blue;

    &::before {
      background-color: $blue;
    }
  }

  &__title {
    @include adaptive-value('margin-bottom', 16, 8, 1);

    @include media ("<phone") {
      max-width: 250px;
      width: 100%;
      margin: 0 auto 8px auto;
    }
  }

  &__description {
    @include adaptive-value('margin-bottom', 32, 24, 1);

    @include media ("<phone") {
        display: none;
    }
  }

  &__slider {
    max-width: 1312px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px !important;
    overflow: visible !important;
  }

  &__slider-img {
    width: 100%;
    height: auto;
    @include adaptive-value('border-radius', 24, 16, 1);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slider-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

  }
}
