<footer id="footer" class="footer">
    <div class="container">
            <div class="footer__content">
                <p class="footer__text">© <span class="current-year"></span> EverFreshPaintworks business is independently owned and operated.</p>
                <a href="https://improvs.com/" target="_blank" rel="noopener noreferrer" class="footer__creator" aria-label="Website by Improvs (opens in new tab)">
                    <picture class="footer__creator-img">
                        <source srcset="/images/creator.webp" type="image/webp">
                        <img src="/images/creator.png" alt="Improvs" width="182" height="24">
                    </picture>
                </a>
            </div>
    </div>
</footer>