$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'tablet_x': 860px,
  'desktop': 1024px,
  'widescreen': 1200px,
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)',
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';

@import 'base/adaptive';
@import 'base/fonts';
@import 'base/functions';
@import 'base/variables';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';
@import 'base/buttons';

@import 'layout/header';
@import 'layout/common';
@import 'layout/hero';
@import 'layout/positioning';
@import 'layout/why';
@import 'layout/team';
@import 'layout/locations';
@import 'layout/services';
@import 'layout/reviews';
@import 'layout/work';
@import 'layout/expect';
@import 'layout/transform';
@import 'layout/footer';

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100..900&display=swap');
