.btn {
  text-align: center;
  display: inline-block;
  padding: 16px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.02em;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;

  @include media('<phone') {
    padding: 12px 16px;
  }

  &_white {
    background-color: $white;
    color: $black;
    transition: all 0.3s ease;

    &:hover {
      background-color: $orange;
      color: $white;
      transition: all 0.3s ease;
    }
  }

  &_transparent {
    background-color: transparent;
    color: $white;
    border: 1px solid $white;
    transition: all 0.3s ease;

    &:hover {
      background-color: $white;
      color: $black;
      transition: all 0.3s ease;
    }
  }

  &_orange {
    background-color: $orange;
    color: $white;
    transition: all 0.3s ease;

    &:hover {
      background-color: $white;
      color: $black;
      border-color: $orange;
      transition: all 0.3s ease;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: static !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  background-color: $blue;
  font-size: 16px;
  font-weight: 500;
  margin: 24px 0 0 0 !important;

  svg {
    display: none;
  }
}

.swiper-button-next {
  img {
    transform: rotate(180deg);
  }
}
