// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$black: #02040a;
$white: #ffffff;
$whiteF4: #F4F4F8;
$gray: #474A59;
$orange: #f6734c;
$blue: #324ea0;

$base-font-sans-serif: 'Hanken Grotesk', 'Helvetica Neue', 'Helvetica',
  sans-serif;

// This is the default html and body font-size for the base rem value.
$rem-base: 16px;

// Body
$base-text-color: $black !default;
$base-background-color: $white !default;
$font-size-base: 16px !default;
$line-height-base: 1.2 !default;
$base-font-family: $base-font-sans-serif !default;

$base-min-width: 320px;

// Links
$base-link-color: $black;

// Forms
$form-element-border-color: $gray !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $gray !default;

// Headers
$h1-font-size: 78px;
$h2-font-size: 52px;
$h3-font-size: 24px;
$h4-font-size: 22px;
$h5-font-size: 17px;
$h6-font-size: 15px;
$headings-color: inherit !default;
